<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cordova.smartgreenhouse">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.androidtutorialpoint.mymapsappsdirection.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.GraphAvtivity"></activity>
        <activity
            android:name=".Activity.MetodeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.SplashScreen"
            android:theme="@style/SplashScreenStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.MainActivity" />
        <activity android:name=".Activity.ActivityMonitorGreenHouse" />
        <activity android:name=".Activity.RegisterActivity" />
        <activity android:name=".Activity.UserActivity" />
        <activity android:name=".Activity.PlantActivity" />
        <activity android:name=".Activity.HistoriActivity" />
        <activity
            android:name=".Activity.UserActivityDrawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.ListPlant" />
        <activity android:name=".Activity.DataList" />
        <activity android:name=".Activity.EditPlant" />
        <activity
            android:name=".Activity.ControllingActivity"
            android:theme="@style/AppTheme.NoActionBar" >

        </activity>
        <activity
            android:name=".Activity.MonitoringActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".Models.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Models.FirebaseIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".MyService"
            android:enabled="true" />

        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />
    </application>

</manifest>